.column {
    float: left;
    padding-left: 25px;
    padding-left: 25px;
}

canvas {
    width: 100%;
    height: 100%;
}

.menubar {
    padding-left: 25px;
}

.menubar input[type=button],
.menubar select {
    font-family: monospace;
    min-height: 25px;
    min-width: 75px;
}

#memoryCanvasContainer {
    height: 100%;
}

.body-error-banner {
    font-family: monospace;
    height: 1em;
    width: 100%;
    text-align: center;
    font-size: 120%;
    color: black;
    background-color: #fff363;
    margin: 5px;
    padding: 5px;
}
